*{
    /* border: red solid 1px; */
    margin: 0;
    padding: 0;
}
html {
    scroll-behavior: smooth;
  }
body::-webkit-scrollbar{
    display: none;
}
/* @font-face {font-family: "Suisse Int'l"; 
    src: url("//db.onlinewebfonts.com/t/13ab13418f633c1b0516fed6e30bedbc.eot"); 
    src: url("//db.onlinewebfonts.com/t/13ab13418f633c1b0516fed6e30bedbc.eot?#iefix") format("embedded-opentype"), 
    url("//db.onlinewebfonts.com/t/13ab13418f633c1b0516fed6e30bedbc.woff2") format("woff2"), 
    url("//db.onlinewebfonts.com/t/13ab13418f633c1b0516fed6e30bedbc.woff") format("woff"), 
    url("//db.onlinewebfonts.com/t/13ab13418f633c1b0516fed6e30bedbc.ttf") format("truetype"), 
    url("//db.onlinewebfonts.com/t/13ab13418f633c1b0516fed6e30bedbc.svg#Suisse Int'l") format("svg"); 
}
@font-face {font-family: "Suisse Intl Light"; 
src: url("https://d33wubrfki0l68.cloudfront.net/87565495e16c505216fe3004e633b4b87f3a5c05/0cff4/static/media/suisseintl-light.9be8b893.ttf")
} */

:root{
    --size:1400;
}  
body{
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #f7fbfc;
}
.wrapper{
    width: 80vw;
}
.nav--wrapper{
    
    font-size: 100%;
    display: flex;
    justify-content: space-between;
    width: 80vw;
}
a{
    text-decoration: none;
    color: black;
}
ul{
    display: flex;
    list-style-type: none;
}
ul li{
    margin-left: 2.1875vw;
    padding: 0 4px;
    overflow: hidden;
}
.nav{
    /* background-color: #f7fbfc; */
    font-size: calc(2100vw/var(--size));
    position: fixed;
    z-index: 999;
    font-weight: 400;
    top: 0;
    padding: 2.4vw 0;
    width: 100vw;
    display: flex;
    justify-content: center;
}
.navi{
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.navi-text{
    display: block;
    position: relative;
    transition:transform .5s cubic-bezier(0,1.07,.89,.99);
    height: 100%;
}
.navi-text:after{
    position: absolute;
    top: 100%;
    left: 0;
    transform: translateZ(0);
}
.navi-text:after,.navi-text:before {
    content: attr(data-hover);
    display: inline-block;
    height: 100%;
}
.navi-text:hover{
    color: #ff0000;
}
.navi:active .navi-text,.navi:hover .navi-text{
    transform:translate3d(0,-100%,0);
}
.menu_burger{
    z-index: 999;
    display: none;
    flex-direction: column;
    justify-content: space-around;
}
.menu_burger:hover{
    cursor: pointer;
}
.menu_burger-atas{
    width: 24px;
    height: 1px;
    background-color: #010101;
    margin: 5px 0;
    transition : transform .6s cubic-bezier(.165,.84,.44,1);
}
.menu_burger-atas.active{
    transform: translateY(3px) rotate(45deg) translateZ(0);
}
.menu_burger-bwh{
    bottom: 0;
    width: 24px;
    height: 1px;
    background-color: #010101;
    margin: 5px 0;
    transition : transform .6s cubic-bezier(.165,.84,.44,1);

}
.menu_burger-bwh.active{
    transform: translateY(-3px) rotate(-45deg) translateZ(0);
}
.responsive_menu{
    /* display: none; */
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    min-height: 640px;
    height: 80vh;
    width: 100vw;
    text-align: center;
    background: #fff;
    z-index: 20;
    transform: translateY(-105%);
}
.responsive_menu.active {
    
    animation: moveDownMenu 1.5s cubic-bezier(.9, .12, .2, 1) forwards
}
.responsive_menu-items{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 72%;
    list-style: none
}
.responsive_menu-items li  {
    font-family: "Suisse Intl Light", Arial, Helvetica, sans-serif;
    font-size: 39px;
    font-weight: 550;
    outline: 0;
    border: none;
    background-color: #fff;
}
.responsive_menu-items li:first-child {
    margin-top: 25%;
}
.responsive_menu-items li{
    margin-bottom: 40px;
}
.awal{
    margin-top: calc(4.8vw + 21px );
    height: 100vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: calc(96vh - calc(4.8vw + 21px ));
}
.headingText{
    max-width: 45vw;
}
.headline{
    font-family: "Suisse Intl Light", Arial, Helvetica, sans-serif;
    z-index: 2;
    max-width: 85%;
    font-weight: 570;
    font-size: calc(5800vw/var(--size));
    line-height: 1.4;
}
.subTittle{
    margin-top: 30px;
    font-family: "Suisse Intl Light", Arial, Helvetica, sans-serif;
    z-index: 2;
    max-width: 85%;
    font-weight: 400;
    font-size: calc(1850vw/var(--size));
    line-height: 1.4;
}
.subTittle_sub{
    font-family: "Suisse Intl Light", Arial, Helvetica, sans-serif;

    margin-top: 20px;
    text-align: right;
    font-weight: 400;
    font-size: calc(1650vw/var(--size));
    line-height: 1.4;
}
.poto{
    width: 35vw;
    position: absolute;
    right: calc(13500vw/var(--size));
}
@keyframes moveDownMenu {
    0% {
        -webkit-transform: translateY(-105%);
        -moz-transform: translateY(-105%);
        -o-transform: translateY(-105%);
        transform: translateY(-105%)
    }
    to {
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -o-transform: translateY(0);
        transform: translateY(0)
    }
}
@keyframes scroll {
from {
    transform: translate(0,0);
}
to {
    transform: translate(-300px,0)
}
}

.list{
    padding-top: 80px;
    padding-bottom: 70px;
    height: 75vh;
    font-family: 'Poppins', sans-serif;
}
.list_header{
    margin:  auto;
    text-align: center;
    margin-bottom: 30px;
}
.inov_wrap{
    overflow-x: scroll;
    width: 100%;
    height: fit-content;
}
.shade1{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.233);
    width: 30px;
    height:450px;
}
.shade2{
    right: 0;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.233);
    width: 30px;
    height:450px;
}
.inovations_carosel{
    width: max-content;
    height: 440px;
    padding-top: 10px;
}
.inov{
    background-color: #fff;
    display: inline-block;
    width: 290px;
    margin: 10px;
    padding-bottom: 10px;
    height: 400px;
    border-radius: 15px;
    box-shadow: 15px 25px 19px -29px rgba(0,0,0,0.75);
    transition: transform .2s cubic-bezier(0.4, 0, 0.2, 1);
}

.inov:hover {
    transform: scale(1.05);
    border-radius: 15px;
    cursor: pointer;
}
.inovHeader{
    height: 235px;
}

.inovHeader #headList{
    border-radius: 15px 15px 0 0;
}
.inovHeader #profileList{
    left: 20px;
    top: -40px;
    position: relative;
    height: 70px;
    width: 70px;
    border-radius: 5px 5px 0 0;
    background-color: #f1f4f7;
    border: #fff 3px solid;
    
}
.inovHeader #profileList img{
    object-fit: cover;
    width: 100%;
}
.inov .desc{
    margin: 10px 20px;
}
.inov #inovName{
    font-size: 17px;
    margin-bottom: 10px;
}
.inov #inovDetail{
    font-size: 13px;
}
.footer{
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 1px solid #c1c1c1;
    height: 10vh;
    text-align: center;
}
.poto{
    width: 25vw;
    position: absolute;
    right: calc(13500vw/var(--size));
}
.hero--contact{
    font-family: "Suisse Int'l",Arial, Helvetica, sans-serif;
    position: absolute;
    font-size: calc(1800vw/var(--size))!important;
    top: calc(100vh - 3400vw/var(--size) - 2.5vw);
    right: calc(13500vw/var(--size));
}
.spinner{
    position: absolute;
    top: 80vh;
    left: calc(-4425vw/var(--size));
    width: calc(17000vw/var(--size));
    animation: spin 16s linear 4s infinite;;
}
@keyframes spin {
from {
    transform:rotate(0deg);
}
to {
    transform:rotate(360deg);
}
}
.marquee-title{
    overflow: hidden;
    width: 70px;
    height: 20px;
    position:  relative !important;
}
.textMarquee{
    animation: scroll 7s linear 0s infinite;
    position: absolute;
}
@keyframes scroll {
from {
    transform: translate(0,0);
}
to {
    transform: translate(-300px,0)
}
}
/* Responseve section */
@media screen and (max-width: 890px){
    .nav {
        padding: 3.5vw 33.75vw;
        padding: 3.5vw calc(13500vw/var(--size));
        font-size: 17px!important;
    }
    .poto {
        width: 280px;
    }
    .headingText{
        max-width: 45vw;
    }
    .headline{
        font-size: 40px;
        max-width: 80%;
    }
    .subTittle{
        font-size: 17px;
        max-width: 80%;
    }
    .subTittle_sub{
        font-size: 12px;
    }
}
@media screen and (max-width: 820px){
    .nav {
        padding: 3.65vw 9vw;
    }
    .poto {
        margin-top: 8vh;
        max-width: 280px;
        width: 40vw;
        min-width: 185px;
        z-index: 1;
        right: 9vw;
    }
    .headingText{
        z-index: 70;
        max-width: 70vw;
    }
    .headline{
        margin-top: -20vh;
        max-width: 100%;
    }
    .subTittle{
        font-size: 15px;
       
    }
    .subTittle_sub{
        font-size: 12px;
        text-align: left;
    }
    .menu{
        display: none;
    }
    .menu_burger{
        display: inline-block;
    }
}
@media screen and (min-width: 821px){
    .responsive_menu {
        display: none;
    }
    
}

@media screen and (max-width: 580px){
    .nav {
        padding: 28px 5.4vw;
    }
    .menu_item-wrap {
         margin-bottom: 48px;
    }
    .poto {
        margin-top: 85px;
        right: 5.4vw;
    }
    .headingText{
        max-width: 70vw;
    }
    .headline {
        font-size: 36px;
    }
    .subTittle{
        font-size: 12px;
       
    }
    .subTittle_sub{
        font-size: 8px;
        text-align: left;
    }
}
@media screen and (max-width: 380px){
    .responsive_menu-items li {
        font-size: 31px;
    }
    .responsive_menu-items li:first-child {
        margin-top: 25%;
    }
    .poto {
        margin-top: 105px;
    }
    .headline {
        margin-top: -25vh;
    }
}
@media screen and (max-width: 340px){
    .headline {
        font-size: 31px;
    }
    .responsive_menu-items li  {
        font-size: 29px;
    }
}

