.projects_section.-detail {
    display: flex;
    padding-right: 0;
}

.section-title.project {
    font-weight: 200;
    width: 100vh;

    position: absolute;
    top: 12%;
    left: -7.625rem;
    -webkit-transform: translate(25%, 486%) rotate(-90deg);
    transform: translate(25%, 486%) rotate(-90deg);
    transform-origin: 0% 50% 0;
}

.section-title-marquee.-detail {
    display: flex;
    animation: marqueeSliderTitle linear infinite;
    will-change: transform;
}


.project_images_grid {
    position: relative;
}

.project_images {
    width: 60vw;
    height: 100vh;
    display: inline-block;
    margin-left: 2.5rem;
    padding: 2.5rem 0 2.5rem 2.5rem;
}

.o-layout_item {
    display: inline-block;
    width: 100%;
    vertical-align: top;
    font-size: 1rem;
    padding-left: 0;
}

.project_images_col {
    position: relative;
    vertical-align: top;
    height: calc(100vh - 5rem);
}

.project_images_col.bottom {
    width: 66.66667%;
}

.project_images_col.top {
    width: 33.33333%;
    margin-left: -3.75rem;
}

.project_image_wrapper {
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    bottom: 0;
    height: 50vh;
    background-size: cover;
    background-position: center;
}

.project_images_col.bottom .project_image_wrapper {
    bottom: 0;
    top: auto;
    background-size: 150%;
    opacity: 0;
    transition: opacity 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94),
        background-size 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94),

}

.project_images_col.top .project_image_wrapper {
    background-size: 210%;

    // position: relative;
    top: 0;
    opacity: 0;
    transition: opacity 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94),
        background-size 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94),
}

.c-brand_logo_wrapper_wrapper {
    opacity: 0;
    transition: opacity 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94);

}

.c-brand_logo_wrapper {
    position: absolute;
    right: 0;
    top: 7.5rem;
    background-color: #1e1e1e;
    border-radius: 50%;
    width: 12.5rem;
    -webkit-transform: translateX(50%);
    transform: translateX(50%);
    color: #fff;
    z-index: 10;
    transition-delay: 0.3s;
}

.c-brand_logo_wrapper::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: -1;
    border-radius: 50%;
    transform: scale(0);
    transform-origin: center;
    background-color: #fff;
    border: 1px solid #fff;
}

.c-brand_logo_wrapper:focus,
.c-brand_logo_wrapper:hover {
    background-color: #fff;
}

.c-brand_logo_wrapper:focus::after,
.c-brand_logo_wrapper:hover::after {
    transform: scale(1);
    transform-origin: center;

    transition: transform 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);

}

.c-brand_logo_wrapper:focus::before,
.c-brand_logo_wrapper:hover::before {
    transform: scale(0);
    z-index: -1;
    opacity: 0;

    transform-origin: center;
    transition: none;
}

.c-brand_logo_wrapper:before {
    content: "";
    opacity: 1;
    display: block;
    padding-bottom: 100%;
    background-color: #1e1e1e;
    border-radius: 50%;
    position: unset;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: -2;
    transform: scale(1);
    transform-origin: center;

    transition: transform 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);

}

.c-brand_logo_wrapper:focus,
.c-brand_logo_wrapper:hover {
    border: 1px solid #fff;
    color: black;
}

.c-brand_logo_wrapper:focus a.c-brand_logo,
.c-brand_logo_wrapper:hover a.c-brand_logo {
    color: black;
}

.c-brand_logo {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 80%;
    height: 80%;
    display: block;
    display: flex;
    align-items: center;
    justify-content: center;
}

a.c-brand_logo {
    color: #fff;
    text-align: center;
}

.project_content {
    display: inline-block;
    width: 63.5rem;
    white-space: normal;
    margin-right: 2.5rem;
    padding: 15.5rem 3.75rem 2.5rem 9rem;
    ;
    vertical-align: bottom;
    margin-bottom: 7.5rem;
}

.project_role_text {
    color: #aaa;
    font-size: .875rem;
    margin-top: .3em;
    margin-bottom: 1.2em;
}

.project_content_title,
.project_role_title,
.project_place_title {
    color: #1e1e1e;
    font-weight: 400;
}

.project_content_text,
.project_role_text,
.project_place_text {
    color: #aaa;
    font-size: .875rem;
    margin-top: .3em;
    margin-bottom: 1.2em;
}

.project_content_text {
    grid-area: 1 / 1 / 3 / 2;
    margin-bottom: 2rem;
}

.project_content_text:nth-child(1) {
    min-height: 10rem;
}

.project_content_tech-stack {
    display: grid;
    grid-template-columns: repeat(5, minmax(0, 1fr));
    color: #aaa;
    font-size: .875rem;
    gap: 1rem;
    width: 90%;
}

.tech-stack_item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.tech-stack_item img {
    max-height: 3rem;
    max-width: 3rem;
    filter: contrast(1000%) invert(68%);
}

.project_content_link {
    font-size: .875rem;
    margin-top: 2.25rem;
    width: fit-content;
}

.project_content_link.o-button {
    border: 1px solid #1e1e1e;
    padding: .625rem .9375rem;
    position: relative;
    z-index: 1;
    color: #fff;
    background-color: #1e1e1e;
    border-radius: 20px;
    margin-top: 1.5rem;
}

.project_content_link.o-button:focus,
.project_content_link.o-button:hover {
    border: 1px solid #fff;
    color: black;
}

.project_content_inner {
    display: grid;
    grid-template-columns: 53% 47%;
    grid-template-rows: auto auto;
    grid-column-gap: 3rem;
    grid-row-gap: 1rem;
}

.project_content_inner>* {
    position: relative;
    opacity: 0;
    transform: translateY(80px);
    transition: opacity 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94), transform 0.8s;
}

.project_content_inner.is-inview>* {
    opacity: 1;
    transform: none;
}

.project_content_inner.is-inview> :first-child {
    transition-delay: 0.11s;
}

.project_content_inner.is-inview> :nth-child(2) {
    transition-delay: 0.17s;
}

.project_content_inner.is-inview> :nth-child(3) {
    transition-delay: 0.23s;
}

.project_images.is-inview .project_images_col.bottom .project_image_wrapper {
    transition-delay: 0.23s;
    background-size: 110%;
    opacity: 1;
}

.project_images.is-inview .project_images_col.top .project_image_wrapper {
    transition-delay: 0.17s;

    background-size: 180%;
    transform: translateY(0);

    opacity: 1;
}

.project_images.is-inview .c-brand_logo_wrapper_wrapper {
    transition-delay: 0.29s;
    opacity: 1;
}

.cta {
    display: flex;
    align-items: center;
    // font-weight: 700;
}

.project_content-footer {
    padding: 5.5em 6.5em;
    position: relative;
}

.project_content-footer::after {
    content: "";
    width: 1px;
    height: calc(100% - 11rem);
    background-color: #9f9f9f;
    position: absolute;
    top: 50%;
    left: 0;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

.other-works-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.other-works-container .next,
.other-works-container .previous {
    display: flex;
    align-items: flex-end;
    position: relative;

}

.next-content,
.previous-content {
    max-width: 235px;
}

.other-works-container a {
    color: #1e1e1e;

    text-decoration: none;
    transition: color 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94), text-decoration 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.other-works-container a:hover {
    text-decoration: underline;
    // color: #aaa;
}

.other-works-container a.all-works:hover {
    text-decoration: none;
    // color: #aaa;
}

.cta .arrow-icon {
    margin-left: 4px;
    top: 7px;
    transition: transform .3s ease;
    vertical-align: middle;
    max-width: 100%;
    height: fit-content;
    position: absolute;
    top: 35%;
    opacity: 0;
    transition: opacity 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94), transform 0.7s;
}

.cta .next .arrow-icon {
    right: 0;
}

.cta:hover {
    opacity: .8;
}

.other-works-container .cta:hover .previous .arrow-icon {
    transform: translate3d(-43px, 0, 0);
}

.cta:hover .arrow-icon {
    opacity: 1;
    transform: translate3d(43px, 0, 0);
}

.other-works-container .next-content span,
.other-works-container .previous-content span {
    font-weight: 400;
}

.other-works-container .next-content p,
.other-works-container .previous-content p {
    // color: #1e1e1e;
    font-size: 1.5rem;
    font-weight: 500;
    max-width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.other-works-container .all-works {
    font-size: 1.7rem;
    color: #1e1e1e;
    font-weight: 500;
    order: 0;
}

.all-works.o-link:after {
    bottom: -4px;
}

@media screen and (max-width: 1024px) {
    .section-title.project {
        position: unset;
        top: 0;
        transform: none;
        left: 30.375rem;
    }

    .projects_section.-detail {
        padding-left: 0;
        padding-right: 0;
        padding-bottom: 50px;
    }

    .project_images {
        width: 100%;
        height: auto;
        margin: 0;
        padding: 0;
    }

    .project_images_col {
        height: auto;
    }

    .project_images_col.bottom {
        width: 50%;
    }

    .project_images_col.bottom .project_image_wrapper {
        top: 0;
        background-size: 117%;
    }

    .project_image_wrapper {
        position: absolute;
        left: 0;
        right: 0;
        height: 50vw;
    }

    .project_images_col.top {
        width: 50%;
        height: 90vw;
        margin-left: 0;
    }

    .project_images_col.top .project_image_wrapper {
        top: auto;
        height: 60vw;
        margin-left: -2.5rem;
        background-size: 166%;
    }

    .project_images.is-inview .project_images_col.top .project_image_wrapper {
        background-size: 136%;
    }

    .project_images .c-brand_logo_wrapper {
        margin: auto;
        top: auto;
        position: relative;
        transform: translateY(-50%);
        left: auto;
    }

    .c-brand_logo_wrapper {
        width: 160px;

    }

    .project_content {
        max-width: 100%;
        // padding: 1.5rem;        
        margin-top: -65px;
        margin-bottom: 0;
        padding-top: 0;
    }

    .project_content_inner {
        grid-template-columns: 1fr;
    }

    .project_content_text:nth-child(1) {
        min-height: 3rem;
    }

    .project_content_tech-stack {
        width: 100%;
    }

    .project_content-footer {
        margin-top: 2rem;
        padding: 4.5em 2.5em;
    }

    .project_content-footer::after {
        top: 0;
        left: auto;
        right: 50%;
        height: .4px;
        width: calc(100% - 5rem);
        transform: none;
        transform: translateX(50%);
    }

    .other-works-container .previous {
        display: none;
    }



    .other-works-container .next {
        padding-bottom: 3.5em;
    }

    .other-works-container .all-works {
        position: relative;
        width: fit-content;
        order: 2;
    }

    .cta .arrow-icon {
        position: unset;
        margin-left: 13px;
        opacity: 1;
    }

    .cta:hover .arrow-icon {
        transform: translate3d(5px, 0, 0);
    }
}

@media screen and (max-width: 768px) {
    .c-brand_logo_wrapper {
        width: 145px;
    }

    .project_content {
        padding: 1.5rem;
    }
}

@media screen and (max-width: 480px) {}