<div class="marquee">
    <div class="marquee-wrap">
      <div class="marquee-title">
        <p class="_w-title wt1">
          Sistem&nbsp;Informasi&nbsp;Akreditasi&nbsp;Fakultas&nbsp;Teknik&nbsp;ULM&nbsp;-&nbsp;
        </p>
        <p class="_w-title wt1">
          Sistem&nbsp;Informasi&nbsp;Akreditasi&nbsp;Fakultas&nbsp;Teknik&nbsp;ULM&nbsp;-&nbsp;
        </p>
        <p class="_w-title wt1">
          Sistem&nbsp;Informasi&nbsp;Akreditasi&nbsp;Fakultas&nbsp;Teknik&nbsp;ULM&nbsp;-&nbsp;
        </p>
        <p class="_w-title wt1">
          Sistem&nbsp;Informasi&nbsp;Akreditasi&nbsp;Fakultas&nbsp;Teknik&nbsp;ULM&nbsp;-&nbsp;
        </p>
      </div>
    </div>
  </div>
